
@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #333;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Task List */
.task-list {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Task Form */
.task-form {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

/* Task Details */
.task-details {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

/* Buttons */
button {
  background-color: #0056b3; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Darker blue color on hover */
button:hover {
  background-color: #004088; 
}

/* Completed tasks */
.completed {
  background-color: #a5d6a7; 
}


/* Form Input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .task-list, .task-form, .task-details {
    max-width: 100%; 
  }
}
